.cards {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: auto;
  margin: 40px auto;
}
.card {
  width: 250px;
  height: 350px;
  border: 1px solid #fff;
  border-radius: 10px;
}
.card img {
  width: 250px;
  height: 130px;
  margin: 0;
  border-radius: 10px 10px 0 0;
}
